<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes" class="transitions-enabled">
    <% @recipes.each do |recipe| %>
      <div class="box">
        <div class="panel panel-default">
          <div class="panel-heading">

          </div>
          <div class="panel-body">
            <%= image_tag recipe.image.url(:medium) %>
          </div>
          <div class="panel-footer">
            <%= recipe.name %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<%= link_to 'New Recipe', new_recipe_path %>
