<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <div class="brand-label"><h1>Looks<em>Tasty!</em></h1></div>
    </div>
  </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        Sign In
      </li>
      <li>
        sign Up
      </li>
    </ul>
  </div>

</div>
