/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin box-shadow{
  -webkit-box-shadow: -6px 6px 74px -2px rgba(0,0,0,0.51);
  -moz-box-shadow: -6px 6px 74px -2px rgba(0,0,0,0.51);
  box-shadow: -6px 6px 74px -2px rgba(0,0,0,0.51);
}

$icon-red: #d71a2d;
$bright-red: #f92c4f;
$background-red: #cc7a7a;

$yellow: #e4d2aa;
$yellow-dark: #c2b088;

$footer-height: 120px;
html{
  height: 100%;
}

body {

  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height;

  background-image: url(asset-path('strip5.png'));
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left;


  a{
    cursor: pointer;
    &:hover{
     background: none;
     border: none;
     text-decoration: none;
     color: $icon-red;
   }
  }
}

#notice_wrapper{
  width: 90%;
  margin: 20px auto 10px auto;
  border: 3px solid $icon-red;
  border-radius: 10px;
  background-color: $yellow;
  opacity: 0.9;
  p{
    padding: 30px 0;
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.background{
  background-color: #eee;
  @include box-shadow;
}

.content{
  margin-top: 70px;
  margin-bottom: 40px;
}

.fa{
  color: $icon-red;
  margin-right: 3px;
}


.form-control{
  width: 95%;
}

.col-right{
	padding-left: 50px;
}

.panel.panel-default{
  margin-top: 60px;
  @include box-shadow;
}

.form-control:focus {
    border-color: $yellow;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px $yellow,0 0 8px $yellow;
    box-shadow: inset 0 1px 1px $yellow,0 0 8px $yellow;
}

.row{
  padding: 10px;
}
//navbar
.nav.navbar-nav li a {
   color: #fff;
   font-weight: bold;
   font-size: 17px;
 }

.navbar{
  background-color: $background-red;
  min-height: 100px;
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: 7px dotted #eee;


  .navbar-brand{
    padding: 0;
  }

  .navbar-right{
    margin-top: 20px;
    color: #fff;
    li{
      margin-left: 5px;
    }

  }
}

.header{
  margin-left: 50px;
  margin-right: 50px;
}

.btn{
  margin: 5px;
}

.button {
  // background: $yellow;
  border-radius: 10px;
  border: 3px solid $yellow;

  color: #fff;
  background: {
    image: linear-gradient(45deg,$yellow 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out ;

  &:hover {
    border: 3px solid $yellow-dark !important;
    background-color: $yellow !important;
    background-position: 0;
    color: #fff !important;
  }
}

.button2 {
  border-radius: 10px;
  border-color: $yellow;
  border-width: 3px;
  color: #fff;
  box-shadow: 0 0 40px 40px $yellow inset, 0 0 0 0 $yellow;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $yellow inset, 0 0 10px 4px $yellow;
    color: #fff !important;
  }
}

.button-filter {
  background: $yellow;
  border-radius: 10px;
  border: 3px solid $yellow;
  margin: 5px 10px 5px 10px;
  color: #fff;
  background: {
    image: linear-gradient(45deg,$yellow 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out ;

  &:hover {
    border: 3px solid $background-red;
    background-color: $yellow ;
    background-position: 0;
    color: #fff;
  }
}


//brand label
@import "compass/css3";
@import "compass/css3/transform";
@import url('https://fonts.googleapis.com/css?family=Bangers');


.brand-label {
  h1 {
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 40pt;
    white-space: nowrap;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    @include skew(0, -6.7deg, false);
    @include transition-property(font-size);
    @include transition-duration(0.5s);
    em{
      color: $bright-red;
    }

  }
}

//pagination

.pagination{
  li{
    a,span{
      color: $yellow-dark;
    }
  }
  .active{
    a, a:focus, a:hover,
    span, span:focus, span:hover{
      background-color: $yellow;
      border-color: $yellow;
    }
  }
}

//category filter
.filter{
  width: 65%;
  margin: 10px auto 0 auto;
  background-color: #fff;
  background-image: url(asset-path('restaurant.png'));

  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  @include box-shadow;
  .filter_wrapper{
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

}

//footer
.footer{
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(asset-path('restaurant.png'));
  font-size: 20px;
  color: #555;
  //max-height: $footer-height;
  position: absolute;

  .footer_wrapper{
    padding: 40px 0;
    text-align: center;
    a,i{
      color: #555 !important;
    //  transform: translatey(10px);
    //  margin-right: 15px;
      &:hover{
        color: #333 !important;
      }
  }


  }

}
