.reviews{
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em 2em;
  .review-rating, .review-owner, .review-date{
    display: inline;
    margin-right: 10px;
  }
  .review-comment{
    &::after{
      content: '';
      display: block;
      border: 1px solid #ddd;
    }
  }
}

.review-form-container{
  #rating-form{
    display: inline;
  }
}
