.users-recipes{
  .users-recipe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    border: 1px solid #666;
    @include box-shadow;
    border-radius: 10px;
    background-color: $gray-lighter;

    margin-top: 1em;

    a{
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      width: 60%;

      .users-image-wrapper, img{
        border-radius: 10px;
      }
      .users-recipe-name{
        width: 65%;
        align-self: center;
        padding: 0 1em;
        color: #555;
      }
    }
    .users-recipe-buttons{
      display: flex;
      a.btn{
        display: inline;
        padding: 0.5em;
        width: 100%;
      }
    }
    .review-rating-box{
      display: block;
      padding: 0.3em;
      .average-review-rating{
        width: 100px;
      }
      .counts-review-rating{
        font-size: 14px;
        margin-left: 5px;
      }
    }
    .users-recipe-date{
      padding: 1em;
    }
  }
}
