.col-md-6.col-md-offset-3
  .edit-review-form
    %h1 Edit Review
    = simple_form_for([@recipe, @review]) do |f|
      #rating-form
        %label Rating
      = f.input :comment
      = f.button :submit, :class => "btn-custom2"
