.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        =header
      .panel-body
        = simple_form_for([recipe, review], remote: true) do |f|
          - if review.errors.any?
            .alert.alert-danger
              %p= review.errors.full_messages.first
          %label Rating
          #rating-form
          = f.input :comment
          = f.button :submit, class: "btn button-full"
