.footer
  .footer-wrapper
    &copy
    %a{:href => "mailto:blazej.piaskowski@gmail.com"} blazej.piaskowski@gmail.com
    %a{:href => "https://github.com/haradd", :target => "_blank"}= fa_icon "github 2x"
